.form-container{
    display: flex;
    justify-content: center;
}
.form-container form{
    display: block;
    width: 40%;
    min-width: 100px;
    padding: 10px;
    border: 5px solid #221414;
    border-radius: 10px;
}

.form-container form div label{
    padding: 10px 0;
}
.form-container form div img{
    width: 100%;
}

.form-container form div input{
    display: block;
    width: 100%;
    margin: 10px 0;
}

button{
    width: 100px;
    padding: 5px;
    background-color: #1919ff;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: #3939ff;

}

.tipo-de-carne, .tipo-de-ensalada, .tipo-de-papas{
    display: none;
}