* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.navbar-nav{
    margin-left: 2rem;
}

/* containers */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
        width: 100%;
        max-width: 1280px;
        padding: 1rem;
    }
}

